* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-weight: lighter; */
}

/* flex boxs */
.flex-inline,
.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

body {
  background: #101011;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  min-height: 100px;
  min-width: 100px;
  background: #1b1b2b;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 50px #000000da;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.container .half-container {
  flex: 1;
  margin: 10px 35px;
  margin-top: 25px;
}

.sign-form {
  min-width: 300px;
  align-items: flex-start;
  padding: 40px 25px;
}

.form-title {
  column-gap: 10px;
  color: #ffffff31;
}

.form-title button {
  background: none;
  border: none;
  color: #ffffff31;
  font-size: 1.5rem;
  padding: 3px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.form-title button.selected {
  color: #fff;
  border-bottom: 1px solid #136454;
}

.sign-form fieldset {
  border: none;
  margin: 3px;
  margin-top: 25px;
  width: 100%;
}

.sign-form legend {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.sign-form label {
  font-size: 0.7rem;
  color: #ffffff31;
}
.sign-form label a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #136454;
}

.disabled {
  color: #ffffff31;
  font-size: 0.7rem;
  border-bottom: 1px solid #13645466;
}

.sign-form input[type="text"],
.sign-form input[type="email"],
.sign-form input[type="password"] {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ffffff31;
  padding: 7px 0;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}

.sign-form input::placeholder {
  color: #ffffff31;
}
.sign-form input:focus {
  border-bottom: 1px solid #fff;
}

button[type="submit"] {
  padding: 8px 30px;
  border-radius: 50px;
  background: #03c4aa;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #000000da;
}

.swap-card {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #03c4aa;
  transition: transform 0.6s;
}

.toggleButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 160px;
  border-radius: 100px;
  overflow: hidden;
  transition: 0.6s;
}

.toggleButton.active {
  left: 100%;
  transform: translateX(calc(-100% - 10px));
  transition: 0.6s;
}

.toggleButton button {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  background: #2a2a3f;
  color: #ffffff31;
  padding: 10px 15px;
}

.toggleButton.active button.signup {
  background: #03c4aa;
  color: #fff;
}

.toggleButton:not(.active) button.signin {
  background: #03c4aa;
  color: #fff;
}

.swap-card.active {
  transform: translateX(100%);
  transition: transform 0.6s;
}
